@import "//scss/base/variables";
@import "//scss/componentes/body-grid";
@import "//base/variables";
@import "//scss/componentes/mixins";
@import "//scss/componentes/body-grid";
@import "//scss/componentes/mixins";
@import "//scss/componentes/body-grid";
@import "//scss/componentes/mixins";
@import "//scss/componentes/body-grid";
@import "//componentes/body-grid";
@import "//scss/componentes/mixins";
@import "//scss/componentes/body-grid";
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-size: 100%;
  background-image: url(/img/fondo6.jpeg);
  background-attachment: fixed;
  color: #f0f8ff;
}

/*-------------------BODY GRID---------------------*/
.body-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5em auto 1fr;
  grid-template-areas: "header" "main" "footer";
}

/*-------------------FIN BODY GRID
--------------------------
------------------*/
/* ---------------------------------------------*/
/*-----------------------HEADER----------------
-----------------*/
.header {
  grid-area: header;
}
.header .bg-nav {
  background-color: #844DAD;
}
@media (max-width: 800px) {
  .header .bg-nav {
    justify-content: center;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .header .bg-nav {
    justify-content: space-evenly;
    align-content: center;
  }
}
.header .nav-link, .header .navbar-brand {
  color: #f0f8ff;
  text-decoration: none;
}
.header .btn {
  background-color: #844DAD;
  color: #f0f8ff;
}
.header h1 {
  text-align: center;
}

/*---------------------FIN HEADER
---------------
--------------*/
/*-------------------FOOTER--------------------------*/
.footer {
  grid-area: footer;
}

.nav-footer {
  background-color: #844DAD;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.nav-footer .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10em;
  height: auto;
  border-radius: 50%;
}
.nav-footer h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 65%;
  color: #f0f8ff;
}
.nav-footer .box-footer {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 800px) {
  .nav-footer .box-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .nav-footer .box-footer {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.nav-footer .box-footer img {
  width: 10%;
  height: 100%;
  border-radius: 50%;
}
.nav-footer .box-footer .box-social {
  width: auto;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.nav-footer .box-footer .box-social img {
  width: 3em;
  height: 3em;
  padding: 2px;
}
.nav-footer .box-footer .box-social h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  padding: 1px;
  color: #f0f8ff;
}

/*---------------------FIN FOOTER
-------------------
------------------*/
/*-----------------------------INICIO-------------------------------------------*/
.main-inicio {
  display: grid;
  grid-area: main;
  gap: 5px;
}
.main-inicio .carousel {
  height: 70%;
}
.main-inicio .main-title-inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
@media (max-width: 800px) {
  .main-inicio .main-title-inicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
  }
}
.main-inicio .container-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin: 5em 0 5em 0;
}
@media (max-width: 800px) {
  .main-inicio .container-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .main-inicio .container-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5em 0 5em 0;
  }
}
.main-inicio .container-box .box-img {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .main-inicio .container-box .box-img {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
  }
}
.main-inicio .container-box .box-img:hover {
  transform: scale(1.5);
  transition: all 2s;
}
.main-inicio .container-box img {
  width: 100%;
  height: 70%;
}

/*-----------------------------------NOSOTROS-------------------------------------*/
.main-nosotros {
  grid-area: main;
  display: grid;
  grid-template-areas: "dir dir dir" "info info info" "mision objetivos lema";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 30em;
  gap: 2em;
}
@media (max-width: 800px) {
  .main-nosotros {
    grid-area: main;
    display: grid;
    grid-template-areas: "dir" "info" "mision" "objetivos" "lema";
    grid-template-columns: 100%;
    grid-template-rows: auto auto 20em 20em 20em;
  }
}
@media (min-width: 801px) and (max-width: 1400px) {
  .main-nosotros {
    grid-area: main;
    display: grid;
    grid-template-areas: "dir dir" "info info" "mision objetivos" "lema lema";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 20em 20em;
  }
}

/*FOTOS DIRECTIVOS*/
.dir {
  grid-area: dir;
}
.dir img {
  height: 40vh;
  border-radius: 50%;
}
@media (max-width: 800px) {
  .dir img {
    height: 15vh;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .dir img {
    height: 20vh;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .dir img {
    height: 25vh;
  }
}
.dir p {
  font-size: 3em;
  text-align: center;
}
@media (max-width: 800px) {
  .dir p {
    font-size: 1.5em;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .dir p {
    font-size: 2em;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .dir p {
    font-size: 2.5em;
  }
}
.dir .box-dir {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .dir .box-dir {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.dir .box-dir .ceo, .dir .box-dir .vice {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
@media (max-width: 800px) {
  .dir .box-dir .ceo, .dir .box-dir .vice {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

/* FIN FOTOS DIRECTIVOS */
.info {
  grid-area: info;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.info .info-p {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
  text-align: center;
}
@media (max-width: 800px) {
  .info .info-p {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5em;
    padding: 1em;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .info .info-p {
    font-size: 1.5em;
  }
}

/* FOTOS M V L*/
.mision {
  grid-area: mision;
}

.objetivos {
  grid-area: objetivos;
}

.lema {
  grid-area: lema;
}

.mision, .objetivos, .lema {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .mision, .objetivos, .lema {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.mision img, .objetivos img, .lema img {
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
}
@media (max-width: 800px) {
  .mision img, .objetivos img, .lema img {
    width: 15vh;
    height: 15vh;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .mision img, .objetivos img, .lema img {
    width: 20vh;
    height: 20vh;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .mision img, .objetivos img, .lema img {
    width: 25vh;
    height: 25vh;
  }
}

/* FIN FOTOcontent*/
/*------------------------------------FIN NOSOTROS-------------------------------*/
/* ------------------------- NUESTROS CLIENTES---------------------------------- */
.main-nc {
  grid-area: main;
}
.main-nc img {
  width: 30vh;
  height: 30vh;
  border-radius: 20%;
}
@media (max-width: 800px) {
  .main-nc img {
    width: 10vh;
    height: 10vh;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .main-nc img {
    width: 20vh;
    height: 20vh;
  }
}
.main-nc #box-refer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-nc #box-refer:hover {
  transform: scale(1.5);
  transition: all 2s;
}
@media (max-width: 800px) {
  .main-nc #box-refer {
    margin: 2em 0 2em 0;
  }
}

/* --------------------------- FIN NUESTROS CLIENTES----------------------- */
/* -----------------------------CONTACTO-------------------------------- */
.main-contacto {
  width: 100%;
  height: auto;
  grid-area: main;
  margin: 5em 0 5em 0;
}
@media (max-width: 800px) {
  .main-contacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "map" "wp" "tel" "mail";
  }
}
.main-contacto img {
  width: 10vh;
  height: 10vh;
}
@media (max-width: 800px) {
  .main-contacto img {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
  }
}

@media (max-width: 800px) {
  #map {
    grid-area: map;
  }
}

@media (max-width: 800px) {
  #wp {
    grid-area: wp;
  }
}

@media (max-width: 800px) {
  #tel {
    grid-area: tel;
  }
}

@media (max-width: 800px) {
  #mail {
    grid-area: mail;
  }
}

@media (min-width: 600px) and (max-width: 1400px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 600px) and (max-width: 1400px) {
  #cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* ---------------FIN CONTACTO---------------- */
/* ------------------------SERVICIOS---------------------------- */
.main-servicios {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50em 20em 20em;
  grid-template-areas: "ns ns ns" "op1 op2 op3" "op4 op5 op6";
  justify-content: center;
  justify-items: center;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .main-servicios {
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "ns ns" "op1 op2" "op3 op4" "op5 op6";
  }
}

.img-ns {
  grid-area: ns;
  width: 100%;
  display: inline-block;
  position: relative;
}
.img-ns img {
  width: 100%;
  height: 80%;
}
.img-ns p {
  width: 30%;
  font-size: 25px;
  position: absolute;
  bottom: 6em;
  z-index: 1;
  color: black;
  margin-left: 1em;
}
@media (max-width: 800px) {
  .img-ns p {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .img-ns p {
    width: 50%;
  }
}

.op1 {
  grid-area: op1;
}

.op2 {
  grid-area: op2;
}

.op3 {
  grid-area: op3;
}

.op4 {
  grid-area: op4;
}

.op5 {
  grid-area: op5;
}

.op6 {
  grid-area: op6;
}

.op1, .op2, .op3, .op4, .op5, .op6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.op1 img, .op2 img, .op3 img, .op4 img, .op5 img, .op6 img {
  width: 30vh;
  height: 30vh;
  border-radius: 30%;
}
@media (max-width: 800px) {
  .op1 img, .op2 img, .op3 img, .op4 img, .op5 img, .op6 img {
    width: 15vh;
    height: 15vh;
  }
}
@media (min-width: 800px) and (max-width: 1400px) {
  .op1 img, .op2 img, .op3 img, .op4 img, .op5 img, .op6 img {
    width: 20vh;
    height: 20vh;
  }
}

/*--------------------------FIN SERVICIOS-----------------------------*/

/*# sourceMappingURL=style.css.map */
