*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-size: 100%;
    background-image: url(/img/fondo6.jpeg);
    background-attachment: fixed;
    color: #f0f8ff;
}

/*-------------------BODY GRID---------------------*/
@import "componentes/body-grid";
/*-------------------FIN BODY GRID
--------------------------
------------------*/

@import "base/variables";

@import "componentes/mixins";

/* ---------------------------------------------*/
/*-----------------------HEADER----------------
-----------------*/
@import "componentes/header";
/*---------------------FIN HEADER
---------------
--------------*/
/*-------------------FOOTER--------------------------*/
@import "componentes/footer";
/*---------------------FIN FOOTER
-------------------
------------------*/


// ----------------------------INICIO--------------------------------------------
/*-----------------------------INICIO-------------------------------------------*/

@import "componentes/index";


//-----------------------------------NOSOTROS------------------------------------
/*-----------------------------------NOSOTROS-------------------------------------*/

@import "componentes/nosotros";
/*------------------------------------FIN NOSOTROS-------------------------------*/

/* ------------------------- NUESTROS CLIENTES---------------------------------- */
@import "componentes/nuestros-clientes";
/* --------------------------- FIN NUESTROS CLIENTES----------------------- */

/* -----------------------------CONTACTO-------------------------------- */
@import "componentes/contacto";
/* ---------------FIN CONTACTO---------------- */

/* ------------------------SERVICIOS---------------------------- */
@import "componentes/servicios";
/*--------------------------FIN SERVICIOS-----------------------------*/
// ------------------------------MEDIA QUERIES---------------------------------
/*-------------------------------MEDIA QUERIES-------------------------------*/


