.body-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "header"
    "main"
    "footer";
    @media (min-width: 100px) and (max-width: 1000px){
        grid-template-rows: auto auto 1fr;
    }
}