@import "//scss/base/variables";
@import "//scss/componentes/body-grid";

.header{ 
    grid-area: header;
    
    .bg-nav{
        background-color: $bg-principal;

        @media (max-width: 800px){
            justify-content: center;
            align-items: center;
        }
    }
    .nav-link, .navbar-brand{
        color: $font-color;
        text-decoration: none;
    }
    .btn{
        background-color: $bg-principal;
        color: $font-color;
    }
}
