@import "//scss/base/variables";
@import "//scss/componentes/body-grid";

.header {
    grid-area: header;
    z-index: 10;
    background-color: $bg-principal;
    .bg-nav {
        margin-bottom: 2rem;
        @media (min-width: 100px) and (max-width: 1000px) {
            @include ds-flex(column, center);
            align-items: center;
        }

        img {
            width: 8em;
            height: auto;
            border-radius: 50%;
        }
    }

    .nav-link,
    .navbar-brand {
        color: $font-color;
        text-decoration: none;
    }

    .btn {
        background-color: $bg-principal;
        color: $font-color;
    }

    h1 {
        @include ds-flex(column, center);
        align-items: center;
        text-align: center;
        width: 40%;
        color: $font-color;
        font-size: 1.8rem;

        @media (min-width: 100px) and (max-width: 1000px) {
            font-size: 1rem;
        }
    }

    a {
        font-size: 1.2rem;

        @media (min-width: 100px) and (max-width: 1000px) {
            font-size: 0.8rem;
        }
    }

}