@import "//scss/base/variables";
@import "//scss/componentes/body-grid";

.header{ 
    grid-area: header;
    
    .bg-nav{
        background-color: $bg-principal;

        @media (max-width: 800px){
            justify-content: center;
            
        }
        @media (min-width: 800px) and (max-width: 1200px){
            justify-content: space-evenly;
            align-content: center;
        }   
    }
    .nav-link, .navbar-brand{
        color: $font-color;
        text-decoration: none;
    }
    .btn{
        background-color: $bg-principal;
        color: $font-color;
    }

    h1{
        text-align: center;
    }
    
}
